html, body {
  text-align: center;
  width: 100%;
  height: 100%;
}
.leaflet-container {
  width: 1000;
  height: 900px;
  z-index: 1;
}
.button {
  position: absolute;
  top: 170px;
  left: 12px;
  z-index: 99;
}
